@keyframes slide {
   from {
      transofrm: translateX(0);
   }
   to {
      transform: translateX(calc(-212vw));
   }
}

.slider-section {
   position: relative;
   overflow: hidden;
   background-color: #fff;
}

.slider-section::before,
.slider-section::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 3vw;
  z-index: 2;
}

.slider-section::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider-section::before {
  left: 0;
  top: 0;
}

.home-slider-container {
   display: flex;
   padding: 8px;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   animation: 10s slide infinite linear;
}

.home-slider-item {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: 4px;
}

.home-slider-container:hover {
   animation-play-state: paused;
}

.home-slider-item-symbol {
   text-transform: uppercase;
   font-weight: bold;
   font-size: 16px;
}

.home-slider-item-price {
   display: flex;
   align-items: center;
   font-size: 16px;
   font-weight: bold;
   color: #232323;
}
.home-slider-item-price > span {
   font-size: 12px;
}

.home-slider-item-rate {
   font-size: 15px;
}

.home-slider-time {
   font-size: 14px;
   font-weight: bold;
   color: gray
}

.red {
   color: red;
}

.green {
   color: green;
}

.home-slider-item-image-container {
   display: flex;
   align-items: center;
}

.home-slider-item img {
   width: 20px;
   height: 20px;
   border-radius: 50%;
}

.divider {
   background-color: #e7e5e5;
   height: 100%;
   width: 2px;
   border-radius: 2px;
   margin-inline: 8px;
}