.project-analysis-wrapper {
   padding: 10px;
}

.project-analysis-title-container {
   display: flex;
   justify-content: space-between;
   align-content: center;
   margin-bottom: 20px;
}

.project-analysis-content-container {
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
   display: flex;
   align-content: center;
}

.project-analysis-content-image-wrapper {
   background-image: url('../../assets/images/walken.jpg');
   flex: 2;
   background-position: center;
   background-repeat: no-repeat;
   aspect-ratio: 2 / 1;
   background-size: cover;
   border-bottom-left-radius: inherit;
   border-top-left-radius: inherit;
}

.project-analysis-content-text-wrapper {
   flex: 3;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.date {
   justify-self: flex-end;
}

.text-wrapper {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.text {
   max-width: 100%;
   font-size: 1rem;
   line-height: 1.5;
   color: #000;
   text-align: justify;
}

@media screen and (max-width: 768px) {
   .project-analysis-content-container {
      flex-direction: column;
   }

   .project-analysis-content-image-wrapper {
      min-height: calc(100vh * 0.25);
      border-top-right-radius: inherit;
      border-bottom-left-radius: 0;
      aspect-ratio: 5 / 3;
   }

   .project-analysis-content-text-wrapper {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
   }

   .date {
      margin-top: 10px;
   }

}
